<div class = "main-button">
	<ul>
		<li><%= link_to "支出登録", "#", class: "waves-effect waves-light btn-large" %></li>
		<li><%= link_to "収入登録", "#", class: "waves-effect waves-light btn-large" %></li>
	</ul>
</div>