<h3>収入詳細</h3>
<div class="row">
	<div class="col s12 m6">
		<div class="card blue-grey lighten-5">
			<div class="card-content black-text">
				<span class="card-title">費目:<%= @income.expense_item %></span>
				<span class="card-title">金額:<%= @income.price %></span>
				<span class="card-title">メモ:<%= @income.memo %></span>
			</div>
			<div class="card-action">
				<%= link_to "編集", edit_income_path(@income.id) %>
			</div>
		</div>
	</div>
</div>